@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.badge{
  margin-top: 10px;
  width: 231px;
  position: relative;
}
.badge .title{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  color: white;
  position: absolute;
  top: 40px;
  text-align: center;
  width: 100%;
  background: #DC514E;
  transition: all .3s;
}

.badge .subtitle{
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin: 110px 0 0;
}

.badge .subtitle:after{
  content: "★ ★ ★";
  display: block;
  font-size: .4em;
  position: relative;
  margin: 15px 0 0;
  transition: all .3s;
}
#trumpets{
  position: absolute;
  top: 50px; left: 13px;
  opacity: 0;
  transition: all .7s;
}
#cup{
  position: absolute;
  top: 30px; left: -42.5px;
  margin-left: 50%;
  opacity: 0;
  transition: all .5s;
}

.badge:hover .title{
  top: 20px;
}

.badge:hover .subtitle{
  margin: 130px 0 0;
}

.badge:hover .subtitle:after{
  margin: 5px 0 0;
  word-spacing: 30px;
  color: #DC514E;
}

.badge:hover #cup{
  opacity: 1;
  top: 10px;
}
.badge:hover #trumpets{
  opacity: 1;
  top: 20px;
}
.animate{
  transition: all .3s;
}